.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal {
    position: fixed;
    top: 50%;
    gap: 10px;
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
    width: 40%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    max-height: 85vh;
    overflow-y: auto;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 15px;
}

.selectContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form button,
.form select {
    font-size: 20px;
}

.form select {
    width: 75%;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form button {
    padding: 10px 30px;
    background-color: blue;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(30, 30, 135);
}

.form button:active {
    background-color: rgb(14, 14, 87);
}

@media (max-width: 750px) {
    .modal {
        width: 90%;
    }

    .selectContainer {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .form select {
        width: 100%;
    }
}