.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.applyBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    background-color: rgb(244, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: fit-content;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    top: 40px;
    right: 40px;
}

.smallTags {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.smallLocation {
    display: flex;
    align-items: center;
    gap: 5px;
}