.noContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: azure;
}

.applications {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 750px) {
    .container {
        padding: 40px 20px;
    }

    .title {
        font-size: 29px;
        text-align: center;
    }
}