.container {
    flex: 1;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: azure;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userContainer img {
    border-radius: 50%;
}

.smallInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    margin-top: 6px;
}

@media (max-width: 750px) {
    .container {
        padding: 40px 20px;
    }

    .userContainer {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}