.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal {
    position: fixed;
    top: 50%;
    gap: 10px;
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
    width: 40%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    max-height: 85vh;
    overflow-y: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.formBlock,
.formBlockDesc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formBlock input,
.formBlock select,
.formBlock textarea,
.formBlockDesc textarea {
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formBlock textarea {
    height: 100px;
}

.desc {
    height: 300px;
}

.formSelector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.formSelector input {
    width: 60%;
}

.formSelector select {
    width: 35%;
}

.formSection {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    padding: 10px 30px;
    background-color: blue;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(30, 30, 135);
}

.btn:active {
    background-color: rgb(14, 14, 87);
}


@media (max-width: 750px) {
    .modal {
        width: 90%;
        padding: 20px;
    }
}