.navigation {
    padding: 20px 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links {
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
    gap: 40px;
}

.connectButton {
    background-color: rgb(10, 10, 143);
    padding: 10px 14px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 19px;
}

.connectButton:hover {
    background-color: rgb(36, 36, 152);
}

.connectButton:active {
    background-color: rgb(15, 15, 105);
}

.navLink {
    position: relative;
    padding: 5px;
    color: rgb(36, 36, 152);
    ;
}

.navLink:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(13, 13, 94);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navLink:hover:after {
    visibility: visible;
    transform: scaleX(1);

}