.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: 100%;
}

.contentContainer {
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.search {
    font-size: 24px;
}

.keyWord {
    font-weight: 600;
    color: gray;
}

.applications {
    display: flex;
    flex-direction: column;
    gap: 20px;
}