.button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(30, 30, 135);
}

.button:active {
    background-color: rgb(14, 14, 87);
}