.container {
    flex: 1;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userContainer img {
    border-radius: 50%;
}

.notVisibleBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.notVisibleTitle {
    display: flex;
    align-items: center;
    gap: 15px;
}