.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(234, 231, 245);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 85%;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.containerLink {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.container:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.jobInfos {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.tag {
    padding: 5px 15px;
    background-color: rgb(164, 164, 78);
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.link {
    background-color: rgb(20, 20, 93);
    color: white;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

.link:hover {
    background-color: rgb(5, 5, 57);
}

.link:active {
    background-color: rgb(3, 3, 33);
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 550;
    position: absolute;
    padding: 6px 15px;
    border-radius: 5px;
    bottom: 12px;
    right: 12px;
    color: white;
}

.statusPending {
    background-color: rgb(11, 11, 83);
}

.statusRejected {
    background-color: rgb(146, 14, 14);
}

.statusAccepted {
    background-color: rgb(55, 130, 14);
}

@media (max-width: 750px) {

    .container {
        width: 90%;
        padding: 15px;
    }

    .appContainer {
        padding-bottom: 60px;
    }

    .containerLink {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .tags {
        gap: 5px;
    }

    .tag {
        font-size: 14px;
        padding: 5px 10px;
    }

    .link {
        width: 100%;
    }
}