.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(234, 231, 245);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 85%;
    border-radius: 8px;
    cursor: pointer;
}

.container:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.jobInfos {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tags {
    display: flex;
    gap: 15px;
    align-items: center;
}

.tag {
    padding: 5px 15px;
    background-color: rgb(164, 164, 78);
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.link {
    background-color: rgb(12, 12, 67);
    color: white;
    padding: 5px 15px;
    border-radius: 7px;
}