.editBtn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: antiquewhite;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.editBtn:hover {
    background-color: rgb(220, 212, 202);
}

.editBtn:active {
    background-color: rgb(187, 181, 172);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.danger {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: azure;
    color: red;
    font-weight: 550;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.statusChange {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form label {
    font-size: 17px;
}

.form select,
.form button {
    padding: 3px 8px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
}

.form button {
    color: white;
    font-weight: 550;
    background-color: blue;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(21, 21, 154);
}

.form button:active {
    background-color: rgb(9, 9, 91);
}