.container {
    flex: 1;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 40px;
}

.jobOffers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.singleOffer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.singleOfferButtons {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singleOfferButtons a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    border: none;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.singleOfferButtons a {
    background-color: blue;
}

@media (max-width: 750px) {
    .container {
        padding: 40px 10px;
    }

    .title {
        font-size: 29px;
        text-align: center;
    }

    .singleOfferButtons {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .singleOfferButtons a {
        justify-content: center;
        width: 90%;
    }
}