.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(21, 21, 73);
    padding: 20px;
    width: 100%;
}

.selectBlock {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form input,
.form select,
.form button {
    font-size: 18px;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
}

.form input {
    background-color: azure;
}

.form select {
    font-weight: 550;
}

.form button {
    background-color: rgb(79, 79, 226);
    color: white;
    font-weight: 550;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(61, 61, 188);
}

.form button:active {
    background-color: rgb(37, 37, 137);
}

@media (max-width: 750px) {
    .form {
        flex-direction: column;
        padding: 20px;
    }

    .inputBlock {
        width: 100%;
    }

    .selectBlock {
        justify-content: space-between;
        width: 100%;
    }

    .form select,
    .form button {
        width: 47%;
    }

    .form input {
        width: 100%;
    }
}