.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(21, 21, 73);
    padding: 20px;
    width: 100%;
}

.form input,
.form select,
.form button {
    font-size: 18px;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
}

.form input {
    background-color: azure;
}

.form select {
    font-weight: 550;
}

.form button {
    background-color: rgb(79, 79, 226);
    color: white;
    font-weight: 550;
}